USE [QL_CuaHangNongSan]
GO
/****** Object:  Table [dbo].[BANG_GIA]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANG_GIA](
	[MASP] [char](10) NOT NULL,
	[NGAYBD] [datetime] NOT NULL,
	[NGAYKT] [datetime] NULL,
	[GIA_BAN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_CC]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_CC](
	[MALOAI] [char](10) NOT NULL,
	[MANCC] [char](10) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_CC] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC,
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_DDH]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_DDH](
	[MASP] [char](10) NOT NULL,
	[MADDH] [char](10) NOT NULL,
	[SOLUONGDAT] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_DDH] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_HD]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_HD](
	[MAHD] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[SOLUONG_BAN] [float] NULL,
	[DONGIA_BAN] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_HD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANH_MUC_SP]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANH_MUC_SP](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[DVT] [nvarchar](3) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DON_DAT_HANG_NCC]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG_NCC](
	[MADDH] [char](10) NOT NULL,
	[MANCC] [char](10) NULL,
	[NGAYDAT] [datetime] NULL,
	[GHICHU_DDH] [nvarchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MASP] [char](10) NOT NULL,
	[MALOAI] [char](10) NULL,
	[TENSP] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHD] [char](10) NOT NULL,
	[MANV] [char](10) NULL,
	[MATHE] [numeric](10, 0) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[GIAMGIA] [float] NULL,
	[TIENTHOI] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[CMND] [numeric](10, 0) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[PHAI] [nvarchar](3) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [numeric](10, 0) NULL,
	[GHICHU] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MASP] [char](10) NOT NULL,
	[NGAYBD_KM] [datetime] NOT NULL,
	[NGAYKT_KM] [datetime] NULL,
	[GIAMGIA] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LO_HANG]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LO_HANG](
	[MALO] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[MAPN] [char](10) NOT NULL,
	[NGAYSX] [datetime] NULL,
	[HANSD] [datetime] NULL,
	[SOLUONGNHAP] [int] NULL,
	[SOLUONG_TRENQUAY] [int] NULL,
	[DONGIA_NHAP] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [char](10) NOT NULL,
	[TEN_NCC] [nvarchar](50) NULL,
	[DIACHI_NCC] [nvarchar](100) NULL,
	[EMAIL_NCC] [nvarchar](50) NULL,
	[SDT_NCC] [numeric](10, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[PHAI_NV] [nvarchar](3) NULL,
	[DIACHI_NV] [nvarchar](100) NULL,
	[SDT_NV] [numeric](10, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[MADDH] [char](10) NULL,
	[NGAYLAP_PN] [datetime] NULL,
	[TONGTIEN_PN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TENDN] [char](20) NOT NULL,
	[MANV] [char](10) NULL,
	[MATKHAU] [char](20) NULL,
	[QUYEN] [nvarchar](5) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THE_THANH_VIEN]    Script Date: 11/22/2019 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_THANH_VIEN](
	[MATHE] [numeric](10, 0) NOT NULL,
	[CMND] [numeric](10, 0) NULL,
	[NGAYCAPTHE] [datetime] NULL,
	[TICHLUY] [float] NULL,
	[TINHTRANG] [bit] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[BANG_GIA] ([MASP], [NGAYBD], [NGAYKT], [GIA_BAN]) VALUES (N'SP001     ', CAST(0x0000A9D300000000 AS DateTime), CAST(0x0000AAEE00000000 AS DateTime), 15000)
INSERT [dbo].[CHI_TIET_CC] ([MALOAI], [MANCC]) VALUES (N'01        ', N'1         ')
INSERT [dbo].[CHI_TIET_CC] ([MALOAI], [MANCC]) VALUES (N'02        ', N'2         ')
INSERT [dbo].[CHI_TIET_DDH] ([MASP], [MADDH], [SOLUONGDAT]) VALUES (N'SP001     ', N'DDH01     ', 100)
INSERT [dbo].[CHI_TIET_HD] ([MAHD], [MASP], [SOLUONG_BAN], [DONGIA_BAN]) VALUES (N'HD001     ', N'SP001     ', 2, 30000)
INSERT [dbo].[DANH_MUC_SP] ([MALOAI], [TENLOAI], [DVT]) VALUES (N'01        ', N'Trái Cây', N'Kg')
INSERT [dbo].[DANH_MUC_SP] ([MALOAI], [TENLOAI], [DVT]) VALUES (N'02        ', N'Rau Củ', N'Kg')
INSERT [dbo].[DON_DAT_HANG_NCC] ([MADDH], [MANCC], [NGAYDAT], [GHICHU_DDH]) VALUES (N'DDH01     ', N'1         ', CAST(0x0000A9D300000000 AS DateTime), NULL)
INSERT [dbo].[HANGHOA] ([MASP], [MALOAI], [TENSP]) VALUES (N'SP001     ', N'01        ', N'Kiwi')
INSERT [dbo].[HANGHOA] ([MASP], [MALOAI], [TENSP]) VALUES (N'SP02      ', N'02        ', N'Cà Rốt')
INSERT [dbo].[HOA_DON] ([MAHD], [MANV], [MATHE], [NGAYLAP], [TONGTIEN], [GIAMGIA], [TIENTHOI]) VALUES (N'HD001     ', N'01        ', CAST(1 AS Numeric(10, 0)), CAST(0x0000AB2200000000 AS DateTime), 100000, 0, 0)
INSERT [dbo].[KHACH_HANG] ([CMND], [TENKH], [PHAI], [DIACHI], [SDT], [GHICHU]) VALUES (CAST(12345678 AS Numeric(10, 0)), N'Tiên', N'Nữ', N'140 Lê Trọng Tấn', CAST(1234567890 AS Numeric(10, 0)), NULL)
INSERT [dbo].[KHUYEN_MAI] ([MASP], [NGAYBD_KM], [NGAYKT_KM], [GIAMGIA]) VALUES (N'SP02      ', CAST(0x0000A9F400000000 AS DateTime), CAST(0x0000A9FA00000000 AS DateTime), 5)
INSERT [dbo].[LO_HANG] ([MALO], [MASP], [MAPN], [NGAYSX], [HANSD], [SOLUONGNHAP], [SOLUONG_TRENQUAY], [DONGIA_NHAP]) VALUES (N'LH001     ', N'SP001     ', N'PN001     ', CAST(0x0000A9D600000000 AS DateTime), CAST(0x0000A9DB00000000 AS DateTime), 100, 10, 15000)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TEN_NCC], [DIACHI_NCC], [EMAIL_NCC], [SDT_NCC]) VALUES (N'1         ', N'VietGap', N'14 Nguyễn Thế Truyện', N'VietGap@gmail.com', CAST(1234567890 AS Numeric(10, 0)))
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TEN_NCC], [DIACHI_NCC], [EMAIL_NCC], [SDT_NCC]) VALUES (N'2         ', N'RauSach', N'8 Sơn Kỳ', N'rausach@gmail.com', CAST(1234567890 AS Numeric(10, 0)))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [PHAI_NV], [DIACHI_NV], [SDT_NV]) VALUES (N'01        ', N'Tiên', N'Nhân Viên', N'Nữ', N'140 Lê Trọng Tấn', CAST(123456789 AS Numeric(10, 0)))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [PHAI_NV], [DIACHI_NV], [SDT_NV]) VALUES (N'02        ', N'Thành', N'Nhân Viên', N'Nam', N'144 Lê Trọng Tấn', CAST(1234567890 AS Numeric(10, 0)))
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MADDH], [NGAYLAP_PN], [TONGTIEN_PN]) VALUES (N'PN001     ', N'DDH01     ', CAST(0x0000A9D300000000 AS DateTime), 5000000)
INSERT [dbo].[TAI_KHOAN] ([TENDN], [MANV], [MATKHAU], [QUYEN]) VALUES (N'abc                 ', N'01        ', N'123                 ', N'Có')
INSERT [dbo].[TAI_KHOAN] ([TENDN], [MANV], [MATKHAU], [QUYEN]) VALUES (N'ab                  ', N'02        ', N'123                 ', N'Có')
INSERT [dbo].[THE_THANH_VIEN] ([MATHE], [CMND], [NGAYCAPTHE], [TICHLUY], [TINHTRANG]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(12345678 AS Numeric(10, 0)), CAST(0x0000AB1F00000000 AS DateTime), 100, 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_BANG_GIA]    Script Date: 11/22/2019 10:32:59 PM ******/
ALTER TABLE [dbo].[BANG_GIA] ADD  CONSTRAINT [PK_BANG_GIA] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC,
	[NGAYBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 11/22/2019 10:32:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[BANG_GIA]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_14_FK]    Script Date: 11/22/2019 10:32:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_14_FK] ON [dbo].[CHI_TIET_CC]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_15_FK]    Script Date: 11/22/2019 10:32:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_15_FK] ON [dbo].[CHI_TIET_CC]
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_16_FK]    Script Date: 11/22/2019 10:32:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_16_FK] ON [dbo].[CHI_TIET_DDH]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_17_FK]    Script Date: 11/22/2019 10:32:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_17_FK] ON [dbo].[CHI_TIET_DDH]
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 11/22/2019 10:32:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[CHI_TIET_HD]
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_9_FK]    Script Date: 11/22/2019 10:32:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_9_FK] ON [dbo].[CHI_TIET_HD]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DANH_MUC_SP]    Script Date: 11/22/2019 10:32:59 PM ******/
ALTER TABLE [dbo].[DANH_MUC_SP] ADD  CONSTRAINT [PK_DANH_MUC_SP] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DON_DAT_HANG_NCC]    Script Date: 11/22/2019 10:32:59 PM ******/
ALTER TABLE [dbo].[DON_DAT_HANG_NCC] ADD  CONSTRAINT [PK_DON_DAT_HANG_NCC] PRIMARY KEY NONCLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_18_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_18_FK] ON [dbo].[DON_DAT_HANG_NCC]
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HANGHOA]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[HANGHOA] ADD  CONSTRAINT [PK_HANGHOA] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_13_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_13_FK] ON [dbo].[HANGHOA]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOA_DON]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [PK_HOA_DON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[HOA_DON]
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[HOA_DON]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACH_HANG]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHUYEN_MAI]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[KHUYEN_MAI] ADD  CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC,
	[NGAYBD_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_11_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_11_FK] ON [dbo].[KHUYEN_MAI]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LO_HANG]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[LO_HANG] ADD  CONSTRAINT [PK_LO_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MALO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_20_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_20_FK] ON [dbo].[LO_HANG]
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_21_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_21_FK] ON [dbo].[LO_HANG]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHA_CUNG_CAP]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUNHAP]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_19_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[PHIEUNHAP]
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_TAI_KHOAN]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY NONCLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[TAI_KHOAN]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_THE_THANH_VIEN]    Script Date: 11/22/2019 10:33:00 PM ******/
ALTER TABLE [dbo].[THE_THANH_VIEN] ADD  CONSTRAINT [PK_THE_THANH_VIEN] PRIMARY KEY NONCLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SO_HUU_FK]    Script Date: 11/22/2019 10:33:00 PM ******/
CREATE NONCLUSTERED INDEX [SO_HUU_FK] ON [dbo].[THE_THANH_VIEN]
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANG_GIA]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_RELATIONS_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[BANG_GIA] CHECK CONSTRAINT [FK_BANG_GIA_RELATIONS_HANGHOA]
GO
ALTER TABLE [dbo].[CHI_TIET_CC]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_DANH_MUC] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[DANH_MUC_SP] ([MALOAI])
GO
ALTER TABLE [dbo].[CHI_TIET_CC] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_DANH_MUC]
GO
ALTER TABLE [dbo].[CHI_TIET_CC]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_NHA_CUNG] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[CHI_TIET_CC] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_NHA_CUNG]
GO
ALTER TABLE [dbo].[CHI_TIET_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_DON_DAT_] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG_NCC] ([MADDH])
GO
ALTER TABLE [dbo].[CHI_TIET_DDH] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_DON_DAT_]
GO
ALTER TABLE [dbo].[CHI_TIET_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[CHI_TIET_DDH] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_HANGHOA]
GO
ALTER TABLE [dbo].[CHI_TIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_HANGHOAS] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[CHI_TIET_HD] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_HANGHOAS]
GO
ALTER TABLE [dbo].[CHI_TIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_HOA_DON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHD])
GO
ALTER TABLE [dbo].[CHI_TIET_HD] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_HOA_DON]
GO
ALTER TABLE [dbo].[DON_DAT_HANG_NCC]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__RELATIONS_NHA_CUNG] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[DON_DAT_HANG_NCC] CHECK CONSTRAINT [FK_DON_DAT__RELATIONS_NHA_CUNG]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_RELATIONS_DANH_MUC] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[DANH_MUC_SP] ([MALOAI])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_RELATIONS_DANH_MUC]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_RELATIONS_THE_THAN] FOREIGN KEY([MATHE])
REFERENCES [dbo].[THE_THANH_VIEN] ([MATHE])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_RELATIONS_THE_THAN]
GO
ALTER TABLE [dbo].[KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYEN_M_RELATIONS_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[KHUYEN_MAI] CHECK CONSTRAINT [FK_KHUYEN_M_RELATIONS_HANGHOA]
GO
ALTER TABLE [dbo].[LO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_LO_HANG_RELATIONS_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[LO_HANG] CHECK CONSTRAINT [FK_LO_HANG_RELATIONS_HANGHOA]
GO
ALTER TABLE [dbo].[LO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_LO_HANG_RELATIONS_PHIEUNHA] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[LO_HANG] CHECK CONSTRAINT [FK_LO_HANG_RELATIONS_PHIEUNHA]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_DON_DAT_] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG_NCC] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_DON_DAT_]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOA_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOA_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[THE_THANH_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_THE_THAN_SO_HUU_KHACH_HA] FOREIGN KEY([CMND])
REFERENCES [dbo].[KHACH_HANG] ([CMND])
GO
ALTER TABLE [dbo].[THE_THANH_VIEN] CHECK CONSTRAINT [FK_THE_THAN_SO_HUU_KHACH_HA]
GO
USE [master]
GO
