USE [master]
GO
/****** Object:  Database [SeasonalFoods]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE DATABASE [SeasonalFoods]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeasonalFoods', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SeasonalFoods.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SeasonalFoods_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SeasonalFoods_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeasonalFoods].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeasonalFoods]
GO
/****** Object:  StoredProcedure [dbo].[NewSelectCommand]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NewSelectCommand]
AS
	SET NOCOUNT ON;
SELECT        QL_NguoiDung.TenDangNhap, QL_NguoiDung.MatKhau
FROM            QL_NguoiDung INNER JOIN
                         QL_NguoiDungNhomNguoiDung ON QL_NguoiDung.TenDangNhap = QL_NguoiDungNhomNguoiDung.TenDangNhap

GO
/****** Object:  StoredProcedure [dbo].[ScalarQuery]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ScalarQuery]
AS
	SET NOCOUNT ON;
SELECT        QL_NguoiDung.TenDangNhap, QL_NguoiDung.MatKhau
FROM            QL_NguoiDung INNER JOIN
                         QL_NguoiDungNhomNguoiDung ON QL_NguoiDung.TenDangNhap = QL_NguoiDungNhomNguoiDung.TenDangNhap
WHERE        (QL_NguoiDung.TenDangNhap = N'QL_NguoiDungNhomNguoiDung')

GO
/****** Object:  UserDefinedFunction [dbo].[getHangHoa]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getHangHoa]()
returns @kq table(
	MASP char(10), MALOAI char(10),TENSP nvarchar(50), GIA_BAN float,
	DVT nvarchar(20), SOLUONG int 
)
as
begin
	insert into @kq
	select bg.MASP, MALOAI, TENSP, (GIA_BAN - 0.01* ISNULL(GIAMGIA, 0)*GIA_BAN) as GIA_BAN, DVT, SOLUONG
	 from 
	(select hh.*, bg.GIA_BAN from HANGHOA hh, BANG_GIA bg where hh.MASP = bg.MASP
	and NGAYBD = (select MAX(NGAYBD) from BANG_GIA where MASP = bg.MASP))  bg
	left join 
	(select * from KHUYEN_MAI
	where GETDATE() between NGAYBD_KM and NGAYKT_KM) km
	on bg.MASP = km.MASP
	return
end
GO
/****** Object:  UserDefinedFunction [dbo].[getHangHoa_Loai]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getHangHoa_Loai](@maLoai char(10))
returns @kq table (
	MASP char(10), TENSP nvarchar(50), GIA_BAN float,
	DVT nvarchar(20), SOLUONG int 
)
as
begin
	if(@maLoai = '')
	begin
		insert into @kq
		select MASP, TENSP, GIA_BAN, DVT, SOLUONG from getHangHoa()
	end
	else
	begin
		insert into @kq
		select MASP, TENSP, GIA_BAN, DVT, SOLUONG from getHangHoa()	where MALOAI = @maLoai
	end
	return
end
GO
/****** Object:  Table [dbo].[BANG_GIA]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANG_GIA](
	[MASP] [char](10) NOT NULL,
	[NGAYBD] [datetime] NOT NULL,
	[GIA_BAN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_CC]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_CC](
	[MALOAI] [char](10) NOT NULL,
	[MANCC] [char](10) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_CC] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC,
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_DDH]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_DDH](
	[MASP] [char](10) NOT NULL,
	[MADDH] [char](10) NOT NULL,
	[SOLUONGDAT] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_DDH] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIET_HD]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HD](
	[MAHD] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SL_MUA] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANH_MUC_SP]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANH_MUC_SP](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DON_DAT_HANG_NCC]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG_NCC](
	[MADDH] [char](10) NOT NULL,
	[MANCC] [char](10) NULL,
	[NGAYDAT] [datetime] NULL,
	[GHICHU_DDH] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MASP] [char](10) NOT NULL,
	[MALOAI] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](20) NULL,
	[TENSP] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHD] [char](10) NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[GIAMGIA] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [varchar](50) NOT NULL,
	[DIACHI] [varchar](100) NOT NULL,
	[SDT] [numeric](10, 0) NOT NULL,
	[EMAIL] [nchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MASP] [char](10) NOT NULL,
	[NGAYBD_KM] [datetime] NOT NULL,
	[NGAYKT_KM] [datetime] NULL,
	[GIAMGIA] [float] NULL,
 CONSTRAINT [PK_KHUYEN_MAI_1] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[NGAYBD_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LO_HANG]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LO_HANG](
	[MALO] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[MAPN] [char](10) NOT NULL,
	[NGAYSX] [datetime] NULL,
	[HANSD] [datetime] NULL,
	[SOLUONGNHAP] [int] NULL,
	[SOLUONG_TRENQUAY] [int] NULL,
	[DONGIA_NHAP] [float] NULL,
 CONSTRAINT [PK_LO_HANG_1] PRIMARY KEY CLUSTERED 
(
	[MALO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAN_HINH]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAN_HINH](
	[MaManHinh] [nvarchar](50) NOT NULL,
	[TenManHinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG_NHOM_ND]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG_NHOM_ND](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MaNhomNguoiDung] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NguoiDungNhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MaNhomNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [char](10) NOT NULL,
	[TEN_NCC] [varchar](50) NULL,
	[DIACHI_NCC] [varchar](100) NULL,
	[EMAIL_NCC] [varchar](50) NULL,
	[SDT_NCC] [numeric](10, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [varchar](50) NOT NULL,
	[CHUCVU] [varchar](50) NOT NULL,
	[PHAI_NV] [varchar](3) NOT NULL,
	[DIACHI_NV] [varchar](100) NOT NULL,
	[EMAIL] [nchar](20) NOT NULL,
	[SDT_NV] [numeric](10, 0) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOM_NGUOI_DUNG]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOM_NGUOI_DUNG](
	[MaNhom] [varchar](20) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHAN_QUYEN]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHAN_QUYEN](
	[MaNhomNguoiDung] [varchar](20) NOT NULL,
	[MaManHinh] [nvarchar](50) NOT NULL,
	[CoQuyen] [bit] NOT NULL,
 CONSTRAINT [PK_QL_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhomNguoiDung] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[MADDH] [char](10) NULL,
	[NGAYLAP_PN] [datetime] NULL,
	[TONGTIEN_PN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TENDN] [varchar](50) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[MATKHAU] [char](20) NOT NULL,
	[HOATDONG] [varchar](5) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THE_THANH_VIEN]    Script Date: 26/11/2019 8:35:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THE_THANH_VIEN](
	[MATHE] [numeric](10, 0) NOT NULL,
	[CMND] [char](9) NULL,
	[NGAYCAPTHE] [datetime] NULL,
	[TICHLUY] [float] NULL,
	[TINHTRANG] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANG_GIA] ([MASP], [NGAYBD], [GIA_BAN]) VALUES (N'SP1       ', CAST(N'2019-01-01 00:00:00.000' AS DateTime), 20000)
INSERT [dbo].[BANG_GIA] ([MASP], [NGAYBD], [GIA_BAN]) VALUES (N'SP2       ', CAST(N'2019-01-01 00:00:00.000' AS DateTime), 15000)
INSERT [dbo].[BANG_GIA] ([MASP], [NGAYBD], [GIA_BAN]) VALUES (N'SP3       ', CAST(N'2019-01-01 00:00:00.000' AS DateTime), 10000)
INSERT [dbo].[DANH_MUC_SP] ([MALOAI], [TENLOAI]) VALUES (N'LOAI1     ', N'Trái Cây')
INSERT [dbo].[DANH_MUC_SP] ([MALOAI], [TENLOAI]) VALUES (N'LOAI2     ', N'Rau Củ')
INSERT [dbo].[DON_DAT_HANG_NCC] ([MADDH], [MANCC], [NGAYDAT], [GHICHU_DDH]) VALUES (N'DHH1      ', N'NCC1      ', CAST(N'2018-12-20 00:00:00.000' AS DateTime), N'Giao hàng nhanh')
INSERT [dbo].[HANGHOA] ([MASP], [MALOAI], [SOLUONG], [DVT], [TENSP]) VALUES (N'SP1       ', N'LOAI1     ', 50, N'Kg', N'Táo')
INSERT [dbo].[HANGHOA] ([MASP], [MALOAI], [SOLUONG], [DVT], [TENSP]) VALUES (N'SP2       ', N'LOAI1     ', 50, N'Kg', N'ỔI')
INSERT [dbo].[HANGHOA] ([MASP], [MALOAI], [SOLUONG], [DVT], [TENSP]) VALUES (N'SP3       ', N'LOAI2     ', 50, N'100g', N'Nấm kim châm')
INSERT [dbo].[KHUYEN_MAI] ([MASP], [NGAYBD_KM], [NGAYKT_KM], [GIAMGIA]) VALUES (N'SP1       ', CAST(N'2019-01-02 00:00:00.000' AS DateTime), CAST(N'2020-01-01 00:00:00.000' AS DateTime), 5)
INSERT [dbo].[KHUYEN_MAI] ([MASP], [NGAYBD_KM], [NGAYKT_KM], [GIAMGIA]) VALUES (N'SP2       ', CAST(N'2019-01-02 00:00:00.000' AS DateTime), CAST(N'2019-05-01 00:00:00.000' AS DateTime), 3)
INSERT [dbo].[LO_HANG] ([MALO], [MASP], [MAPN], [NGAYSX], [HANSD], [SOLUONGNHAP], [SOLUONG_TRENQUAY], [DONGIA_NHAP]) VALUES (N'LO1       ', N'SP1       ', N'PN1       ', CAST(N'2019-01-01 00:00:00.000' AS DateTime), CAST(N'2019-01-15 00:00:00.000' AS DateTime), 100, 50, 15000)
INSERT [dbo].[LO_HANG] ([MALO], [MASP], [MAPN], [NGAYSX], [HANSD], [SOLUONGNHAP], [SOLUONG_TRENQUAY], [DONGIA_NHAP]) VALUES (N'LO2       ', N'SP2       ', N'PN1       ', CAST(N'2019-01-01 00:00:00.000' AS DateTime), CAST(N'2019-01-12 00:00:00.000' AS DateTime), 100, 50, 12000)
INSERT [dbo].[LO_HANG] ([MALO], [MASP], [MAPN], [NGAYSX], [HANSD], [SOLUONGNHAP], [SOLUONG_TRENQUAY], [DONGIA_NHAP]) VALUES (N'LO4       ', N'SP4       ', N'PN1       ', CAST(N'2019-01-01 00:00:00.000' AS DateTime), CAST(N'2019-01-10 00:00:00.000' AS DateTime), 100, 50, 7000)
INSERT [dbo].[MAN_HINH] ([MaManHinh], [TenManHinh]) VALUES (N'frmBH', N'Form bán hàng')
INSERT [dbo].[MAN_HINH] ([MaManHinh], [TenManHinh]) VALUES (N'frmDM_KH', N'Form danh mục khách hàng')
INSERT [dbo].[MAN_HINH] ([MaManHinh], [TenManHinh]) VALUES (N'frmDM_MH', N'Form danh mục mặt hàng')
INSERT [dbo].[NGUOIDUNG_NHOM_ND] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'1', N'N1', N'.')
INSERT [dbo].[NGUOIDUNG_NHOM_ND] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'2', N'N2', N'.')
INSERT [dbo].[NGUOIDUNG_NHOM_ND] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'3', N'N3', N'.')
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TEN_NCC], [DIACHI_NCC], [EMAIL_NCC], [SDT_NCC]) VALUES (N'NCC1      ', NULL, NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [PHAI_NV], [DIACHI_NV], [EMAIL], [SDT_NV]) VALUES (N'NV1       ', N'nguyen van a', N'ban hang', N'nam', N'tphcm', N'email               ', CAST(123 AS Numeric(10, 0)))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [PHAI_NV], [DIACHI_NV], [EMAIL], [SDT_NV]) VALUES (N'NV2       ', N'nguyen van b', N'nhap kho', N'nu', N'ha noi', N'email               ', CAST(123 AS Numeric(10, 0)))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [PHAI_NV], [DIACHI_NV], [EMAIL], [SDT_NV]) VALUES (N'NV3       ', N'nguyen van c', N'ke toan', N'nu', N'da nang', N'email               ', CAST(123 AS Numeric(10, 0)))
INSERT [dbo].[NHOM_NGUOI_DUNG] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'N1', N'Bán hàng', N'Bán hàng')
INSERT [dbo].[NHOM_NGUOI_DUNG] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'N2', N'Kho hàng', N'Quản lý kho hàng')
INSERT [dbo].[NHOM_NGUOI_DUNG] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'N3', N'Thống kê', N'Thống kê')
INSERT [dbo].[PHAN_QUYEN] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'N1', N'frmBH', 1)
INSERT [dbo].[PHAN_QUYEN] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'N2', N'frmDM_MH', 1)
INSERT [dbo].[PHAN_QUYEN] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'N3', N'frmHD', 1)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MADDH], [NGAYLAP_PN], [TONGTIEN_PN]) VALUES (N'PN1       ', N'DHH1      ', CAST(N'2019-01-02 00:00:00.000' AS DateTime), 3900000)
INSERT [dbo].[TAI_KHOAN] ([TENDN], [MANV], [MATKHAU], [HOATDONG]) VALUES (N'1                   ', N'NV1       ', N'1                   ', N'TRUE')
INSERT [dbo].[TAI_KHOAN] ([TENDN], [MANV], [MATKHAU], [HOATDONG]) VALUES (N'2                   ', N'NV2       ', N'2                   ', N'TRUE')
INSERT [dbo].[TAI_KHOAN] ([TENDN], [MANV], [MATKHAU], [HOATDONG]) VALUES (N'3                   ', N'NV3       ', N'3                   ', N'TRUE')
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_BANG_GIA]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[BANG_GIA] ADD  CONSTRAINT [PK_BANG_GIA] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC,
	[NGAYBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[BANG_GIA]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_14_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_14_FK] ON [dbo].[CHI_TIET_CC]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_15_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_15_FK] ON [dbo].[CHI_TIET_CC]
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_16_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_16_FK] ON [dbo].[CHI_TIET_DDH]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_17_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_17_FK] ON [dbo].[CHI_TIET_DDH]
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DANH_MUC_SP]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[DANH_MUC_SP] ADD  CONSTRAINT [PK_DANH_MUC_SP] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DON_DAT_HANG_NCC]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[DON_DAT_HANG_NCC] ADD  CONSTRAINT [PK_DON_DAT_HANG_NCC] PRIMARY KEY NONCLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_18_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_18_FK] ON [dbo].[DON_DAT_HANG_NCC]
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HANGHOA]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[HANGHOA] ADD  CONSTRAINT [PK_HANGHOA] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_13_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_13_FK] ON [dbo].[HANGHOA]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOA_DON]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [PK_HOA_DON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[HOA_DON]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACH_HANG]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_11_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_11_FK] ON [dbo].[KHUYEN_MAI]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_20_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_20_FK] ON [dbo].[LO_HANG]
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_21_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_21_FK] ON [dbo].[LO_HANG]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHA_CUNG_CAP]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUNHAP]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_19_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[PHIEUNHAP]
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_TAI_KHOAN]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY NONCLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[TAI_KHOAN]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_THE_THANH_VIEN]    Script Date: 26/11/2019 8:35:45 SA ******/
ALTER TABLE [dbo].[THE_THANH_VIEN] ADD  CONSTRAINT [PK_THE_THANH_VIEN] PRIMARY KEY NONCLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SO_HUU_FK]    Script Date: 26/11/2019 8:35:45 SA ******/
CREATE NONCLUSTERED INDEX [SO_HUU_FK] ON [dbo].[THE_THANH_VIEN]
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANG_GIA]  WITH CHECK ADD  CONSTRAINT [FK_BANG_GIA_RELATIONS_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[BANG_GIA] CHECK CONSTRAINT [FK_BANG_GIA_RELATIONS_HANGHOA]
GO
ALTER TABLE [dbo].[CHI_TIET_CC]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_DANH_MUC] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[DANH_MUC_SP] ([MALOAI])
GO
ALTER TABLE [dbo].[CHI_TIET_CC] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_DANH_MUC]
GO
ALTER TABLE [dbo].[CHI_TIET_CC]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_NHA_CUNG] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[CHI_TIET_CC] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_NHA_CUNG]
GO
ALTER TABLE [dbo].[CHI_TIET_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_DON_DAT_] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG_NCC] ([MADDH])
GO
ALTER TABLE [dbo].[CHI_TIET_DDH] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_DON_DAT_]
GO
ALTER TABLE [dbo].[CHI_TIET_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_RELATIONS_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[CHI_TIET_DDH] CHECK CONSTRAINT [FK_CHI_TIET_RELATIONS_HANGHOA]
GO
ALTER TABLE [dbo].[DON_DAT_HANG_NCC]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__RELATIONS_NHA_CUNG] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[DON_DAT_HANG_NCC] CHECK CONSTRAINT [FK_DON_DAT__RELATIONS_NHA_CUNG]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_DANH_MUC_SP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[DANH_MUC_SP] ([MALOAI])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_DANH_MUC_SP]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[KHUYEN_MAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYEN_MAI_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[KHUYEN_MAI] CHECK CONSTRAINT [FK_KHUYEN_MAI_HANGHOA]
GO
ALTER TABLE [dbo].[LO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_LO_HANG_HANGHOA] FOREIGN KEY([MASP])
REFERENCES [dbo].[HANGHOA] ([MASP])
GO
ALTER TABLE [dbo].[LO_HANG] CHECK CONSTRAINT [FK_LO_HANG_HANGHOA]
GO
ALTER TABLE [dbo].[LO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_LO_HANG_RELATIONS_PHIEUNHA] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[LO_HANG] CHECK CONSTRAINT [FK_LO_HANG_RELATIONS_PHIEUNHA]
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOM_ND]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHOM_ND_NHOM_NGUOI_DUNG] FOREIGN KEY([MaNhomNguoiDung])
REFERENCES [dbo].[NHOM_NGUOI_DUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOM_ND] CHECK CONSTRAINT [FK_NGUOIDUNG_NHOM_ND_NHOM_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOM_ND]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHOM_ND_TAI_KHOAN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TAI_KHOAN] ([TENDN])
GO
ALTER TABLE [dbo].[NGUOIDUNG_NHOM_ND] CHECK CONSTRAINT [FK_NGUOIDUNG_NHOM_ND_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHAN_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_QUYEN_MAN_HINH] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[MAN_HINH] ([MaManHinh])
GO
ALTER TABLE [dbo].[PHAN_QUYEN] CHECK CONSTRAINT [FK_PHAN_QUYEN_MAN_HINH]
GO
ALTER TABLE [dbo].[PHAN_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_QUYEN_NHOM_NGUOI_DUNG] FOREIGN KEY([MaNhomNguoiDung])
REFERENCES [dbo].[NHOM_NGUOI_DUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[PHAN_QUYEN] CHECK CONSTRAINT [FK_PHAN_QUYEN_NHOM_NGUOI_DUNG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_DON_DAT_] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG_NCC] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_DON_DAT_]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOA_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOA_RELATIONS_NHANVIEN]
GO
USE [master]
GO
