<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLySieuThi.Properties.Settings.QL_SIEUTHIConnectionString"
            connectionString="Data Source=LAPTOP-CQ1BQQH5\SQLEXPRESS;Initial Catalog=QL_SIEUTHI;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="QL_CuaHangNongSan.Properties.Settings.QL_CuaHangNongSanConnectionString"
            connectionString="Data Source=LAPTOP-CQ1BQQH5\SQLEXPRESS;Initial Catalog=QL_SIEUTHI;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="QL_CuaHangNongSan.Properties.Settings.SeasonalFoodsConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=SeasonalFoods;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
