<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SeasonalFoodsConnectionString" connectionString="Data Source=LAPTOP-CQ1BQQH5\SQLEXPRESS;Initial Catalog=SeasonalFoods;User ID=sa;Password=sa2012" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
